.main_div {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.div_button {
    display: flex;

    flex-direction: column;
    gap: 8px;
    padding: 5px;
}

.my_button {
    width: 100%;
    
}