.my_button_value{
    background-color: var(--color-grey);
    height: 26px;
    border: none;
    border-radius: 1%;
    color: rgba(255,255,255,1);
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;

    cursor: pointer; 
    
    font-family: "Audiowide", sans-serif;
}

.my_button_value:hover {
    background-color: var(--color-purple);
}